#background {
    
    background-image: url(images/subtle_white_mini_waves.png);
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


